<mat-nav-list>
  <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
    <mat-icon matListIcon><span class="mdi mdi-view-dashboard"></span></mat-icon>Dashboard
  </a>
  <a mat-list-item [routerLink]="['/leads']" routerLinkActive="active">
    <mat-icon matListIcon><span class="mdi mdi-account-tie"></span></mat-icon>Leads
  </a>
  <a mat-list-item [routerLink]="['/potential']" routerLinkActive="active">
    <mat-icon matListIcon><span class="mdi mdi-account-star"></span></mat-icon>Potentials
  </a>
  <a mat-list-item [routerLink]="['/newCustomer']" routerLinkActive="active">
    <mat-icon matListIcon><span class="mdi mdi-account-plus"></span></mat-icon>New Customer
  </a>
  <a mat-list-item [routerLink]="['/salesClosed']" routerLinkActive="active">
    <mat-icon matListIcon><span class="mdi mdi-chart-bar"></span></mat-icon>Sales Closed
  </a>
  <a mat-list-item [routerLink]="['/callMetting']" routerLinkActive="active">
    <mat-icon matListIcon><span class="mdi mdi-phone"></span></mat-icon>Call Meeting
  </a>
</mat-nav-list>