<h1 mat-dialog-title>Add Lead</h1>
<form [formGroup]="leadForm">
  <div mat-dialog-content>
    <div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayout.xs="column" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="50">
        <input formControlName="firstName" matInput placeholder="First Name">
        <mat-error>FirstName is required.</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <input formControlName="lastName" matInput placeholder="Last Name">
        <mat-error>LastName is required.</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <input formControlName="mobile" matInput placeholder="Mobile Number">
        <mat-error>Mobile number is required.</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <input formControlName="email" matInput placeholder="Email Id">
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <input formControlName="campaign" matInput placeholder="Campaign">
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <input formControlName="leadStatus" matInput placeholder="Lead Status">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="button-row">
    <div class="right-side-buttons-group">
      <button mat-raised-button (click)="closeDialog()">Cancel</button>
      <button mat-raised-button color="primary" (click)="insertData()" [disabled]="leadForm.invalid">Add</button>
    </div>
  </div>
</form>