<div ngClass="">
  <table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Lead Name </th>
      <td mat-cell *matCellDef="let element"> {{element.leadName}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Meeting Date </th>
      <td mat-cell *matCellDef="let element"> {{element.meetingDate}} </td>
    </ng-container>


    <!-- Status Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Lead Address </th>
      <td mat-cell *matCellDef="let element"> {{element.leadAddress}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element; let index=index" (click)="$event.stopPropagation()">
        <ng-container *ngIf="isAdmin; else defaultValue2">
          <button mat-icon-button color="primary" (click)="edit(index)"><span
              class="mdi mdi-square-edit-outline mdi-24px"></span></button>
          <button mat-icon-button color="accent" (click)="potential(element)"><span
              class="mdi mdi-check mdi-24px"></span></button>
          <button mat-icon-button color="warn" (click)="delete(element)"><span
              class="mdi mdi-close mdi-24px"></span></button>
        </ng-container>
      </td>
      <ng-template #defaultValue2>
        <button mat-icon-button color="primary" (click)="edit(index)"><span
            class="mdi mdi-square-edit-outline mdi-24px"></span></button>
      </ng-template>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;let index=index;" (click)="selectedRow(index)"></tr>
  </table>
  <div class="no_data" [ngClass]="{'hide':dataSource!=null}">
    Loading please wait!
  </div>
  <div class="no_data" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
    No Records Found!
  </div>
  <mat-paginator #paginator [length]="length" [pageSize]="10" (page)="pageEvent = getServerData($event)"
    showFirstLastButtons></mat-paginator>
</div>